.ipynb_checkpoints/**

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
/__pycache__/
/__pycache__/**
**/.ipynb

.streamlit/secrets.toml
assets\**
**\assets\**
\assets\brian_gursky\**
pitcher_reports.py
**.pyc